<div class="d-flex justify-content-center align-items-center " id="main">
    <div class="p-4 text-center col-md-8">
        <h1><b>About</b></h1>
    </div>
</div>
<br>
   
<div class="card m-2">
    <div class="row g-0">
      <div class="col-md-4 text-center">
        <img src="https://images.pexels.com/photos/20723647/pexels-photo-20723647/free-photo-of-ville-voyager-etats-unis-usa.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded-start" alt="Store of cars">
      </div>
      <div class="col-md-8 d-flex align-items-center p-2">
        <div class="card-body text-center">
          <h2 class="card-title fw-bold">NOTRE HISTORIQUE</h2>
          <p class="card-text">Lorem ioluptas eveniet consequatur explicabo debitis atque dolor ea tenetur voluptatibus dicta inventore, placeat veritatis commodi aspernatur aperiam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, similique laboriosam iusto itaque pariatur deleniti sit iste accusamus eligendi recusandae suscipit animi, corporis dolores! Similique ea autem obcaecati placeat esse?</p>
          <p class="card-text">Lorem ioluptas eveniet consequatur explicabo debitis atque dolor ea tenetur voluptatibus dicta inventore, placeat veritatis commodi aspernatur aperiam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, similique laboriosam iusto itaque pariatur deleniti sit iste accusamus eligendi recusandae suscipit animi, corporis dolores! Similique ea autem obcaecati placeat esse?</p>
        </div>
      </div>
    </div>
  </div>

<br><br>

<div class="text-center m-2">
    <H2 class="fw-bold">NOS VALEURS</H2>
    <hr>
        <div class="d-flex justify-content-around flex-wrap">
            <div class="card text-bg-light mb-3 valeur" style="max-width: 18rem;">
                <div class="card-header text-bg-dark"><b>VALEURS</b></div>
                <div class="card-body ">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card text-bg-light mb-3 valeur" style="max-width: 18rem;">
                <div class="card-header text-bg-dark"><b>VALEURS</b></div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card text-bg-light mb-3 valeur" style="max-width: 18rem;">
                <div class="card-header text-bg-dark"><b>VALEURS</b></div>                
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card text-bg-light mb-3 valeur" style="max-width: 18rem;">
                <div class="card-header text-bg-dark"><b>VALEURS</b></div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    <hr>
</div>

